/* Common CSS style for list templates.
   (c) Juan Cerdeño. All Rights Reserved.
   To be completed with Tachyon classes.
*/

/*
.development{
    color: aquamarine;
}
*/

ul{
    list-style-type: none;
}

li{
    display: flex;
    text-align: justify;
    justify-content: space-between;
}

li div{
    overflow: hidden;
    white-space: nowrap;
}

.title{
    text-overflow: ellipsis;
    color: #357EDD;
}

.title:hover{
    color: #00449E;
}

@media (max-width: 600px){
    ul{
        margin-left: 0;
        padding-left: 0;
    }
}