@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700;800&display=swap');

*{
    font-family: 'Open Sans';
}

.readable{
    margin-left: auto;
    margin-right: auto;
    max-width: 40rem;
}

.twitter-tweet{
    margin: 0 auto;
    max-width: 90%;
    align-content: center;
}

@media (max-width: 600px){
    footer div{
        flex-direction: column;
    }
    footer div a{
        padding-top: 1rem;
    }
}