@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');
/*
  Left menu, for indexed post.

menu{
    height: 100vh;
    display: block;
    float: left;
    display: flex;
    align-items: center;
}
*/

/*
  Menu with basics nav links
  .menu {
    max-width: 90%;
  }
*/

/*
  1. Post content in the center of the screen.
  2. Numbered footnotes from 0.
  */
  .md-content {
    padding-top: 3rem;
  }
  .banner-img{
  width: 100%;
}

.md-body {
  /* 2 */
  counter-reset: footnotes;
}

/*
1. Basic style for code. Complemented with highlight.js.
GitHub Gist should be use instead.
  2. Basic stylized Gist & Instagram script.

  code, code span{
    font-family: 'Fira Mono', monospace; / * 1 * /
  }
  */
.gist,
.twitter-tweet {
  /* 2 */
  margin: 0 auto;
  max-width: 90%;
  align-content: center;
}


/*
  Style for markdown tables.
  Should be used when specific classes
  can be applied to MD2HTML can allow it.
  
  table {
  border-collapse: collapse;
  max-width: 90%;
  min-width: 50%;
  margin: 0 auto;
}

table,
th {
  border: 1px solid #f2f2f2;
}

td {
  font-family: 'Source Code Pro', monospace;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

th,
td {
  padding: 8px;
  margin: 0;
}

tr {
  transition: background-color .15s ease-in;
}

tr:hover {
  background-color: #e3e3e3;
  transition: background-color .15s ease-in;
}

table p {
  font-family: 'Source Code Pro', monospace;
  margin: 0;
  padding: 0;
}

*/
li{
  margin: .8rem 0rem;
}

/*
  Some basic stylizing for post footnotes.
*/
.footnotes a {
  counter-increment: footnotes;
  color: inherit;
  outline: none;
}

/* From TACHYON */
a {
  text-decoration: none;
  color: #357edd;
  transition: color .15s ease-in;
}

a:link,
a:visited {
  transition: color .15s ease-in;
}
a:hover   {
  color: #00449e;
  transition: color .15s ease-in;
}
a:active  {
  transition: color .15s ease-in;
}
a:focus   {
  transition: color .15s ease-in;
  outline: 1px dotted currentColor;
}

/*
  The 'Small Screen Fist Rule":
  CSS first for phones,
  and rules for larger screens.

@media (min-width: 40.0rem) {
    .md-body{
        color: wheat;
    }
}

 Larger than tablet screen
@media (min-width: 80.0rem) {}

 Larger than desktop screen
@media (min-width: 120.0rem) {}*/