{{ define "main" }}
    <h1> <u class="text-yellow-600" style="text-decoration: none;">404</u> - page not found</h1>
    <p>The <a href="https://en.wikipedia.org/wiki/HTTP_404">404</a> <a href="https://en.wikipedia.org/wiki/Hypertext_transfer_protocol">HTTP</a> <a href="https://en.wikipedia.org/wiki/List_of_HTTP_status_codes">status code</a> is a standard response code that informs the requested page was not found. This is a <a href="https://en.wikipedia.org/wiki/Static_web_page">static web page</a> which means that the error is most probably from one of the following errors:</p>
    <ul>
        <li>the url is wrongly typed (i usually use readable urls so check for misspelling),</li>
        <li>i have changed the name of the file,</li>
        <li>deleted or changed its visibility</li>
    </ul>
    <p>If you need it, feel free to contact me at <a href="mailto:hi@juancer.me">hi@juancer.me</a></p>

{{ end }}