/* variables */
:root {
  // Colors
  --color-pure-black: #000;
  --color-pure-white:#fff;
  --color-almostopaque-white: rgba(255, 255, 255, 0.8);
  --color-soft-grey: #c2c2c2;
  --color-soft-white: #edeae8;
  --color-transparent: rgba(0, 0, 0, 0);
  // Specific structure attributes
  --background-background: var(--color-soft-white);
  --background_overlay-background: var(--color-almostopaque-white);
  --services-background: var(--color-pure-black);
  --navbar-background: var(--color-soft-grey);
  --navbar-a-color: var(--color-pure-white);
}

a{
  color: white;
  font-family: 'Open Sans';
  font-weight: 400;
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}

* {
  padding: 0;
  margin: 0;
  background: rgb(47, 77, 87);
}

.top{
  height: 25vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#top-logo{
  height: 50px;
  margin-top: 4vh;
}

.main{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.left{
  width: 25%;
  display: flex;
  flex-direction: column;
  margin-right: 1.8rem;
  text-align: right;
}

.left h1{
  font-size: 1rem;
  text-transform: uppercase;
  font-family: 'Open Sans';
  font-weight: 400;
  color: white;
  padding-bottom: .5rem;
}

.left ul{
  list-style-type: none;
}

.left li{
  margin-top: .4rem;
}


.right{
  width: 50%;
  margin-left: 1.8rem;
}

.right h1{
  font-family: 'Open Sans';
  font-weight: 300;
  font-size: 1.8rem;
  color: white;
  padding-bottom: 1rem;
}

.right h2{
  font-family: 'Open Sans';
  font-weight: 300;
  font-size: 1.2rem;
  color: white;
}

.right ul{
  padding-top: 1rem;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media only screen and (max-width:800px){

  .top{
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #top-logo{
    height: 40px;
    margin-top: 2vh;
  }

  .main{
    flex-direction: column;
    padding: 0;
    margin: 0 ;
    width: 100%;
    background: #ed0;
    align-items: center;
  }

  .right{
    justify-content: center;
    order: 1;
    align-items: center;
    width: 90%;
    margin: 0;
    padding: 0;
    padding-bottom: 3rem;
  }

  .right h1{
    text-align: justify;
    font-size: 1.2rem;
    padding: 0;
    margin: 0;
  }

  .right h2{
    text-align: justify;
    font-size: 1rem;
    font-weight: 300;
    padding: 0;
    margin: 0;
    padding-top: 1.2rem;
  }

  .right ul{
    align-items: center;
    align-content: stretch;
    margin: 0;
    padding: 0;
    padding-top: 1.2rem;
    width: 90%;
    flex-wrap: wrap;
  }

  .right li{
    margin: 0;
    padding: 0;
    padding: 1rem 1rem;
  }

  .left{
    order: 2;
    margin: 0;
    text-align: left;
    align-items: center;
    padding-top: 1rem;
    width: 90%;
  }
}
