{{$id := ""}}
{{if (.Get 1)}}
    {{$id = .Get 1}}
{{else}}
    {{$id = .Get 0}}
{{end}}

<label for="sidenote-{{$id}}" class="margin.toggle sidenote-number">{{.Get 0}}</label>
<input class="margin-toggle" type="checkbox" id="sidenote-{{$id}}"></input>
<span class="sidenote sidenote-{{$id}}">
    {{.Inner}}
</span>

<!--
    { {< sidenote "hi!" 90 > } }
HERE GOES ALL THE TEXT
{ { < /sidenote > } }
    /* Sidenote */
/* 277-289 */
.sidenote,
.marginnote {
    float: right;
    clear: right;
    margin-right: -60%;
    width: 50%;
    margin-top: 0.3rem;
    margin-bottom: 0;
    font-size: 1.1rem;
    line-height: 1.3;
    vertical-align: baseline;
    position: relative;
}
/* 291-307 */
.sidenote-number {
    counter-increment: sidenote-counter;
}
/* 309-320 */
.sidenote:before {
    content: counter(sidenote-counter) " ";
    top: -0.5rem;
}

blockquote .sidenote,
blockquote .marginnote {
    margin-right: -82%;
    min-width: 59%;
    text-align: left;
}

.sidenote-number:after,
.sidenote:before {
    position: relative;
    vertical-align: baseline;
}

.sidenote-number:after {
    content: counter(sidenote-counter);
    top: -0.5rem;
    left: 0.1rem;
}
/* 380-383 */
input.margin-toggle {
    display: none;
}
/* 385-387 */
label.sidenote-number {
    display: inline;
}

/* 389-391 */
label.margin-toggle:not(.sidenote-number) {
    display: none;
}

/* 408 */
@media (max-width: 760px) {
    label.margin-toggle:not(.sidenote-number) {
        display: inline;
    }

    .sidenote,
    .marginnote {
        display: none;
    }

    .margin-toggle:checked + .sidenote,
    .margin-toggle:checked + .marginnote {
        display: block;
        float: left;
        left: 1rem;
        clear: both;
        width: 95%;
        margin: 1rem 2.5%;
        vertical-align: baseline;
        position: relative;
    }

    label {
        cursor: pointer;
    }
}

/* end of sidenote */ -->