@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Titillium+Web:ital@0;1&display=swap');

html {
  --background-main: hsla(0, 0%, 98%, 1);
  --text-color-normal: hsla(0, 0%, 0%, 1);
  --text-color-light: #8cabd9;
}

html[data-theme='dark'] {
  --background-main: hsla(0, 0%, 15%, 1);
  --text-color-normal: hsla(210, 10%, 95%, .9);
  --text-color-light: hsl(210, 15%, 35%);
}

* {
  padding: 0;
  margin: 0;
  background: var(--background-main)
}

body {
  width: 60%;
  margin: 0 auto;
}

h1 {
  color: var(--text-color-normal);
  font-family: 'Playfair Display', serif;
  font-size: 2rem;
  letter-spacing: .1px;
  padding-bottom: .6rem;
}

h2 {
  color: var(--text-color-normal);
  font-family: 'Titillium Web', sans-serif;
  font-size: 1.2rem;
  font-weight: 300;
  letter-spacing: .2px;
  line-height: 1.4;
}
h2 a{
  text-decoration: none;
  font-style: italic;
  color: var(--text-color-normal)
}
h2 a:hover{
  text-decoration: underline;
}
li {
  content: "\2022";
  color: var(--text-color-normal);
  font-family: 'Titillium Web', sans-serif;
  font-size: 1rem;
  letter-spacing: .2px;
  line-height: 1.8;
}

li a {
  color: var(--text-color-normal);
  font-weight: 300;
  font-size: 1.2rem;
  text-decoration: none;
  style: italic;
  font-style: italic;
}

li a:hover {
  text-decoration: underline;
}

li span {
  color: var(--text-color-normal);
  font-weight: 300;
  font-size: 1.2rem;
}

.top {
  height: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#top-logo {
  height: 3.5rem;
}

#about-me h2 button {
  color: var(--text-color-normal);
  font-family: 'Titillium Web', sans-serif;
  font-size: 1.2rem;
  font-weight: 300;
  letter-spacing: .2px;
  line-height: 1.4;
  border: none;
  text-decoration: none;
  font-style: italic;
}

#about-me h2 button:hover {
  text-decoration: underline;
}

#mail-tooltip {
  background: #333;
  color: hsla(210, 10%, 100%, 1);
  font-family: 'Titillium Web', sans-serif;
  font-size: 1rem;
  letter-spacing: .2px;
  padding: 4px 8px;
  border-radius: 4px;
  display: none;
}

#mail-tooltip[data-show] {
  display: block;
}

#arrow,
#arrow::before {
  position: absolute;
  width: 8px;
  height: 8px;
  z-index: -1;
}

#arrow::before {
  content: '';
  transform: rotate(45deg);
  background: #333;
}

#mail-tooltip[data-popper-placement^='top']>#arrow {
  bottom: -4px;
}

#mail-tooltip[data-popper-placement^='bottom']>#arrow {
  top: -4px;
}

#mail-tooltip[data-popper-placement^='left']>#arrow {
  right: -4px;
}

#mail-tooltip[data-popper-placement^='right']>#arrow {
  left: -4px;
}

#projects {
  margin-top: 1.2rem;
}

.bottom {
  border-top: solid 2px hsla(0, 0%, 50%, 1);
  margin-top: 2.6rem;
  padding-top: 1.6rem;
  padding-bottom: 1.6rem;
}

.bottom h3 {
  color: var(--text-color-normal);
  font-family: 'Titillium Web', sans-serif;
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: .2px;
  line-height: 1.4;
}

@media(max-width: 854px) {
  body {
    width: 70%;
  }

  h1 {
    font-size: 1.4rem;
  }
}

@media(max-width:500px) {
  h2 {
    font-size: 1rem;
  }

  #about-me h2 button {
    font-size: 1rem;
  }

  li a {
    font-size: 1rem;
  }

  li span {
    font-size: 1rem;
  }
}
