<div class="grid grid-rows-2 grid-flow-col gap-4">
  <figure>
    <img
      src="/img/covid19_as_resume.jpg"
      alt="Gráfica de casos totales acumulados de COVID19 en Asturias, marcando el número de pacientes hospitalizados en planta, en UCI y fallecidos a 17-agosto-2021."
    />
    <figcaption>
      <p>
        <strong>Fig. 1</strong> - Gráfica de casos totales acumulados de COVID19
        en Asturias, marcando el número de pacientes hospitalizados en planta,
        en UCI y fallecidos a 17-agosto-2021.
        <a href="/img/covid19_as_resume.jpg">Ver imagen</a>.
      </p>
    </figcaption>
  </figure>

  <figure>
    <img
      src="/img/covid19_as_daily.jpg"
      alt="Gráfica de pacientes diarios hospitalizados en planta, en UCI y fallecidos por COVID19 en Asturias a 17-agosto-2021."
    />
    <figcaption>
      <p>
        <strong>Fig. 2</strong> - Gráfica de pacientes diarios hospitalizados en
        planta, en UCI y fallecidos por COVID19 en Asturias a 17-agosto-2021.
        <a href="/img/covid19_as_daily.jpg">Ver imagen</a>.
      </p>
    </figcaption>
  </figure>

  <figure>
    <img
      src="/img/covid19_as_positive.jpg"
      alt="Gráfica de la tasa de positividad de SARS-CoV-2 en Asturias, marcando su valor diario y la media móvil de tres días, a 17-agosto-2021."
    />
    <figcaption>
      <p>
        <strong>Fig. 3</strong> - Gráfica de la tasa de positividad de
        SARS-CoV-2 en Asturias, marcando su valor diario y la media móvil de
        tres días, a 17-agosto-2021.
        <a href="/img/covid19_as_positive.jpg">Ver imagen</a>.
      </p>
    </figcaption>
  </figure>

  <figure>
    <img
      src="/img/covid19_as_test.jpg"
      alt="Gráfica de la tasa de pruebas realizadas en Asturias para la detección de COVID19, marcando su valor diario y la media móvil de una semana, a 17-agosto-2021."
    />
    <figcaption>
      <p>
        <strong>Fig. 4</strong> - Gráfica de la tasa de pruebas realizadas en
        Asturias para la detección de COVID19, marcando su valor diario y la
        media móvil de una semana, a 17-agosto-2021.
        <a href="/img/covid19_as_test.jpg">Ver imagen</a>.
      </p>
    </figcaption>
  </figure>
</div>
