@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-50 dark:bg-gray-900 font-robotoMono;
}

.header-text {
  & ul {
    @apply ml-10;
  }
  & a {
    @apply m-1 text-gray-900 dark:text-gray-100 hover:text-yellow-600 dark:hover:text-yellow-600 hover:bg-yellow-100 dark:hover:bg-opacity-25 dark:hover:bg-yellow-600;
  }
  & .home-text {
    @apply border-yellow-600 dark:border-yellow-600 border-opacity-0 dark:border-opacity-0 hover:border-opacity-100 dark:hover:border-opacity-100;
  }
  & .mark-link {
    @apply text-yellow-600 dark:text-yellow-600 !important;
  }
}

.main-text {
  & > * {
      @apply py-2;
  }
  & ul {
    @apply pl-5 list-none text-gray-500 dark:text-gray-300;
  }
  /* https://stackoverflow.com/a/41491657/11688263 */
  & ul > li::before {
    content: "â—";
    @apply pr-2;
    font-size: 0.9em;
    @apply text-gray-500 dark:text-gray-300
  }
  & h1,h2,h3,h4,h5,h6 {
    @apply font-bold text-gray-900 dark:text-gray-100;
  }
  & h1 {
    @apply leading-normal text-2xl mt-5 pb-2;
  }
  & h2 {
    @apply text-xl pt-3;
  }
  & h3 {
    @apply text-lg pt-2;
  }
  & p {
    @apply text-base leading-snug text-gray-500 dark:text-gray-300 py-2;
  }
  & a {
    @apply text-blue-500 hover:underline hover:bg-blue-100 dark:hover:bg-blue-900 dark:text-blue-200;
  }
  & table {
    @apply border-t-2 border-b-2 border-yellow-600 py-2 text-gray-500 dark:text-gray-300;
  }
  & th {
    @apply px-6 border-yellow-600 dark:border-gray-50 border-dashed;
    border-bottom-width: 1px;
  }
  & th:nth-child(even), td:nth-child(even) {
    @apply bg-yellow-900 bg-opacity-20 dark:bg-opacity-20;
  }
  & code {
    @apply font-robotoMono;
  }
  & p > code {
    @apply bg-gray-100 dark:bg-gray-800 text-yellow-500 py-0 m-0 px-1 rounded-sm !important;
  }
  & a > code {
    @apply bg-gray-100 dark:bg-gray-800 py-0 m-0 px-1 rounded-sm;
  }
  & pre {
    @apply p-1 bg-gray-100 dark:bg-gray-800;
  }
  & blockquote {
    @apply border-l-4 border-yellow-600 dark:border-yellow-600 pl-4 my-1 py-1 bg-gray-100 dark:bg-gray-800;
  }
  & figure {
    @apply py-2 max-w-md border-2 rounded-md p-1 m-2;

  }
  & figcaption {
    @apply py-0 my-0 pt-1 leading-none text-base text-justify !important;
    & h4 {
      @apply py-0 py-0 leading-none text-base;
    }
    & p {
      @apply py-0 my-0 leading-none text-base;
    }
  }
  .footnotes {
    @apply py-4;
  }
}

.footer-text{
  & div {
    @apply py-5 mt-4 max-w-xs;
  }
  & hr {
    @apply border-black dark:border-gray-50;
    width: 6rem;
    border-top-width: 1px;
  }
  & dl {
    @apply mt-1 pt-0;
  }
  & dt, dd {
    @apply m-0 p-0 leading-tight text-sm;
  }
  & dt {
    @apply font-bold text-gray-900 dark:text-gray-100;
  }
  & dd {
    @apply text-gray-500 pt-0 dark:text-gray-300;
  }
  & a {
    @apply hover:bg-gray-100 hover:underline dark:hover:bg-gray-800;
  }
}