<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/constant.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/post.css' | relative_url }}">
  </head>
  <body>
    {% include header.html %}
    <div class="post">
      <div id="post-info">
        <div class="info-title">
          <span>{{ site.url }}/blog{% assign test = page.url | split: "/" %}{{test[0]}}/{{test[1]}}/{{test[2]}}/</span><h1>{{ page.title }}</h1>
        </div>
        <div id="info-img-container">
          <img src="" alt="">
        </div>
      </div>
      <div id="post-content">
        {{ content }}
      </div>
      <div id="post-info" class="one-line">
        <h2 class="info-text"><span>Author:</span>{{ page.author }}</h2>
        <h2 class="info-text"><span>Date:</span>{{ page.date | date: "%-d %B %Y"}}</h2>
      </div>
    </div>
    {% include footer.html %}
    <script type="text/javascript" src="{{ '/assets/js/post.js' | relative_url }}"></script>
  </body>
</html>
