@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Titillium+Web:ital@0;1&display=swap');


html{
--background-main: hsla(0, 0%, 98%, 1);
--text-color-normal: hsla(0, 0%, 0%, 1);

/* --text-color-light:  hsla(216, 50%, 52%, 1);
--text-color-intense:  hsla(201, 51%, 20%, 1); */

--text-color-light:  hsla(0, 0%, 55%, 1);
--text-color-intense:  hsla(220, 61%, 49%, 1);
}

html[data-theme='dark'] {
  --background-main: hsla(0, 0%, 15%, 1);
  --text-color-normal: hsla(210, 10%, 95%, .9);
  /* --text-color-light: hsl(210, 15%, 35%); */
  --text-color-light: hsl(210, 15%, 35%);
}

*{
  margin: 0;
  padding: 0;
  background: var(--background-main)
}


.post{
}

#post-info{
  width: 100%;
}

#info-img-container{
  align-items: center;
  text-align: center;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

#info-img-container img{
  max-width: 100%;
  max-height: 60vh;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-top: solid 2px hsla(0, 0%, 50%, .5);
  border-bottom: solid 2px hsla(0, 0%, 50%, .5);
}

.info-text{
  width: 60%;
  margin: 0 auto;
}

#post-info h1{
  font-family: 'Playfair Display', serif;
  font-size: 1.6rem;
  letter-spacing: .1px;
  color: var(--text-color-normal);
}
#post-info h1 span{
  font-family: 'Titillium Web', sans-serif;
  font-size: 1.6rem;
  letter-spacing: .1px;
  color: var(--text-color-light);
}

#post-info h2{
  font-family: 'Playfair Display', serif;
  font-size: 1rem;
  letter-spacing: .1px;
  color: var(--text-color-normal);
}
#post-info h2 span{
  font-family: 'Titillium Web', sans-serif;
  font-size: 1rem;
  letter-spacing: .1px;
  color: var(--text-color-light);
}

#post-content{
  width: 60%;
  margin: 0 auto;
}

#post-content h1{
  font-family: 'Titillium Web', sans-serif;
  font-size: 2rem;
  letter-spacing: .1px;
  color: var(--text-color-normal);
}

#post-content h2{
  font-family: 'Titillium Web', sans-serif;
  font-size: 1.6rem;
  letter-spacing: .1px;
  color: var(--text-color-normal);
}

#post-content h3{
  font-family: 'Titillium Web', sans-serif;
  font-size: 1.2rem;
  letter-spacing: .1px;
  color: var(--text-color-normal);
}

#post-content p{
  color: var(--text-color-normal);
  font-family: 'Titillium Web', sans-serif;
  font-size: 1.2rem;
  text-align: justify;
  font-weight: 300;
  letter-spacing: .2px;
  line-height: 1.4;
}

#post-content strong{
  font-weight: bold;
}

#post-content a{
  text-decoration: underline;
  color: var(--text-color-normal);
}

#post-content a:hover{
  color: var(--text-color-intense);
}

#post-content em{
  font-style: italic;
}

#post-content li {
  content: "\2022";
  color: var(--text-color-normal);
  font-family: 'Titillium Web', sans-serif;
  font-size: 1rem;
  letter-spacing: .2px;
  line-height: 1.8;
}

.footnotes{
  margin-top: 2rem;
  padding-top: .5rem;
  border-top: solid 2px hsla(0, 0%, 50%, .5);
}
